<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitaciones</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="encabezado">
                <h1 class="titulo">Hola ! </h1>
            </div>
            <h2>{{name}} te ha invitado a su evento.</h2>
        </div>
    </header>
    <section>
        <span class="subtitulo">No esperes más para aceptar la invitación !!</span>
     <span>   <a href="{{url}}">Acepta la invitación aquí</a></span>
    </section>
</body>
</html>
