<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Message</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            width: 100%;
            height: 100%;
            background-color: #F7F7F7;
            background-image: url(../assets/party.jpg);
            padding: 50px;
        }

        .container {
            display: flex; 
            flex-direction: column;
        }
        .encabezado {
            display: flex; 
            align-items: center;
            padding-inline: 12px;
        }
        .titulo {
            font-size: 50px;
            color: #F33863
        }
        .subtitulo {
            font-size: large;
            font-weight: bold; 
            color: #000000;
            padding: 50px;
        }
       .parrafo {
            color: #000000;
            padding: 50px;
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <div class="encabezado">
                <img src="../assets/Celebria-logo.webp" alt="logo celebria">
                <h1 class="titulo">Bienvenido de nuevo!</h1>
            </div>
            <h2 >Tu contraseña ha sido restablecida!</h2>
        </div>
    </header>
    <section>
        <span class="subtitulo">Vuelve a Logearte para confirmar el cambio</span>
        <p class="parrafo">
            Disfruta nuevamente creando eventos para invitar a todos tus amigos y familiares. Si tienes otro
             problema con tu cuenta, no dudes en contactarnos, estaremos encantados de solucionarlo lo antes posible!
            <br>
            Muchas gracias por elegirnos!
        </p>
    </section>
</body>

</html>